<!-- *Seccion pendiente por editar
     *Como idea principal seria poner la grafica en tiempo real de las acciones de produccion
-->



@{
    ViewBag.Title = "Index";
}
<!-- col -->
<!--Index Page on Costruction -->

<div class="col-lg-12 col-xl-6">
    <div class="card-box">
        <a href="#" class="pull-right btn btn-inverse btn-sm waves-effect waves-light">View All</a>
        <h4 class="text-dark header-title m-t-0">Recent Orders</h4>
        <p class="text-muted m-b-30 font-13">
            Use the button classes on an element.
        </p>

        <div class="table-responsive">
            <table class="table table-actions-bar m-b-0">
                <thead>

                    <!--Example of a real time chart for ProodFloor Implementation-->
                    <script>
                        window.onload = function () {

                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                title: {
                                    text: "Real time Chart Test"
                                },
                                axisX: {
                                    interval: 1
                                },
                                axisY: {
                                    title: "Expenses in Billion Dollars",
                                    scaleBreaks: {
                                        type: "wavy",
                                        customBreaks: [{
                                            startValue: 80,
                                            endValue: 210
                                        },
                                        {
                                            startValue: 230,
                                            endValue: 600
                                        }
                                        ]
                                    }
                                },
                                data: [{
                                    type: "bar",
                                    toolTipContent: "<img src=\"https://canvasjs.com/wp-content/uploads/images/gallery/javascript-column-bar-charts/\"{url}\"\" style=\"width:40px; height:20px;\"> <b>{label}</b><br>Budget: ${y}bn<br>{gdp}% of GDP",
                                    dataPoints: [
                                        { label: "Israel", y: 17.8, gdp: 5.8, url: "israel.png" },
                                        { label: "United Arab Emirates", y: 22.8, gdp: 5.7, url: "uae.png" },
                                        { label: "Brazil", y: 22.8, gdp: 1.3, url: "brazil.png" },
                                        { label: "Australia", y: 24.3, gdp: 2.0, url: "australia.png" },
                                        { label: "South Korea", y: 36.8, gdp: 2.7, url: "skorea.png" },
                                        { label: "Germany", y: 41.1, gdp: 1.2, url: "germany.png" },
                                        { label: "Japan", y: 46.1, gdp: 1.0, url: "japan.png" },
                                        { label: "United Kingdom", y: 48.3, gdp: 1.9, url: "uk.png" },
                                        { label: "India", y: 55.9, gdp: 2.5, url: "india.png" },
                                        { label: "Russia", y: 69.2, gdp: 5.3, url: "russia.png" },
                                        { label: "China", y: 215.7, gdp: 1.9, url: "china.png" },
                                        { label: "United States", y: 611.2, gdp: 3.3, url: "us.png" }
                                    ]
                                }]
                            });
                            chart.render();

                        }
                    </script>



                    <tr>
                        <th>Chart</th>
                        <th>Item Name</th>
                        <th>Up-Down</th>
                        <th style="min-width: 80px;">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span data-plugin="peity-bar" data-colors="#2bbbad,#2bbbad" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span></td>
                        <td><img src="assets/images/products/Element Hydraulic Elevator Control.png" class="thumb-sm pull-left m-r-10" alt=""> Element Hydraulic Elevator Control </td>
                        <td><span class="text-success">+$230</span></td>
                        <td>
                            <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                            <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td><span data-plugin="peity-line" data-fill="#33b5e5" data-stroke="#33b5e5" data-width="80" data-height="30">0,3,6,4,5,4,7,3,5,2</span></td>
                        <td><img src="assets/images/products/iControl Elevator Controls.png" class="thumb-sm pull-left m-r-10" alt=""> iControl Elevator Controls </td>
                        <td><span class="text-danger">-$154</span></td>
                        <td>
                            <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                            <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td><span data-plugin="peity-line" data-fill="#fff" data-stroke="#ff3547" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span>
                        <td><img src="assets/images/products/MOTION 2000 Hydraulic Elevator Control.png" class="thumb-sm pull-left m-r-10" alt=""> MOTION 2000 Hydraulic Elevator Control </td>
                        <td><span class="text-success">+$1850</span></td>
                        <td>
                            <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                            <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td><span data-plugin="peity-pie" data-colors="#4c5667,#ebeff2" data-width="30" data-height="30">1/5</span></td>
                        <td><img src="assets/images/products/MOTION 4000 Traction Elevator Control.png" class="thumb-sm pull-left m-r-10" alt=""> MOTION 4000 Traction Elevator Control </td>
                        <td><span class="text-success">+$560</span></td>
                        <td>
                            <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                            <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td><span data-plugin="peity-bar" data-colors="#7266ba,#ebeff2" data-width="80" data-height="30">5,3,9,6,5,9,7,3,5,2</span></td>
                        <td><img src="assets/images/products/" class="thumb-sm pull-left m-r-10" alt=""> Row 5 </td>
                        <td><span class="text-success">+$230</span></td>
                        <td>
                            <a href="#" class="table-action-btn"><i class="md md-edit"></i></a>
                            <a href="#" class="table-action-btn"><i class="md md-close"></i></a>
                        </td>
                    </tr>



                    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
                    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



                </tbody>
            </table>
        </div>

    </div>
</div>
</div>