<div class="card-box table-responsive">
    <h4 class="m-t-0 header-title"><b>Manage Inventories</b></h4>
    <div class="text-muted font-13 m-b-30">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light pull-right" data-url="CreateInventory" data-form="SaveInventoryForm" data-action="Inventory" onclick="CreateElement(this)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>
            Add Item
        </button>
    </div>
    <br />
    <br />
    <br />
    <table id="InventoriesTbl" class="table table-striped table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>PC Model</th>
                <th>Asset Tag</th>
                <th>Username</th>
                <th>TightVNC Service</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>