@model IEnumerable<MCE.Models.tblSupplier>
<div class="card-box table-responsive">
    <h4 class="m-t-0 header-title"><b>Manage Suppliers</b></h4>
    <div class="text-muted font-13 m-b-30">
        <button type="button" class="btn btn-success btn-rounded waves-effect waves-light pull-right" data-url="CreateSupplier" data-form="SaveSupplierForm" data-action="Supplier" onclick="CreateElement(this)">
            <span class="btn-label"><i class="fa fa-plus"></i></span>
            Add a supplier
        </button>
    </div>
    <br />
    <br />
    <br />
    <table id="SuppliersTbl" class="table table-striped table-bordered dataTable no-footer dtr-inline">
        <thead>
            <tr>
                <th>Company</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Model</th>
                <th>Tel 1</th>
                <th>Tel 2</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
